<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="margin15">
        <h2>Notes!</h2>
        <div class="card-columns">
          {% if notes %}
            {% for note in notes %}
                <div class="card">
                  <div class="card-header">
                    <h4>{{note.title}}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">From {{note.From}} to {{note.to}}</h6>
                  </div>
                  <div class="card-body">
                    <p class="card-text">{{note.message}}</p>
                  </div>
                </div>
            {% endfor %}
          {% endif %}
        </div>          
    </div>
  </body>
</html>
