<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add a Note</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    {% include 'nav.html' %}
    <form action="" method='POST'>
        {%csrf_token%}
        <div class='margin15'>
            <h2>Fill in your note data!</h2>
            <label for="to">To:</label><br>
            <input type="text" id="to" name="to"><br>
            <label for="From">From:</label><br>
            <input type="text" id="From" name="From"><br>
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title"><br>
            <label for="message">Message:</label><br>
            <input type="text" id="message" name="message"><br>
            <br>
            <input type="submit" value="Add Note">
        </div>
  </body>
</html>
