<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="margin15">
        <h2>Notes!</h2>
        <table>
          <tr>
            <th>To</th>
            <th>From</th>
            <th>Title</th>
            <th>Message</th>
          </tr>
          {% if notes %}
            {% for note in notes %}
              <tr>
                <td>{{note.to}}</td>
                <td>{{note.From}}</td>
                <td>{{note.title}}</td>
                <td>{{note.message}}</td>
              </tr>
            {% endfor %}
          {% endif %}
        </table>
    </div>
  </body>
</html>
