<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Tambahkan Teman</title>
  </head>
  <body>
    <form action="" method='POST'>
        {%csrf_token%}
        <h2>Masukkan data teman kamu!</h2>
        <label for="name">Nama:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="npm">NPM:</label><br>
        <input type="number" id="npm" name="npm"><br>
        <label for="DOB">Tanggal Lahir:</label><br>
        <input type="date" id="DOB" name="DOB"><br>
        <input type="submit" value="Tambahkan teman">
  </body>
</html>
