<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
  </head>
  <body>
    <table border="1">
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {% if notes %}
        {% for note in notes %}
          <tr>
            <td>{{note.to}}</td>
            <td>{{note.From}}</td>
            <td>{{note.title}}</td>
            <td>{{note.message}}</td>
          </tr>
        {% endfor %}
      {% endif %}
    </table>
  </body>
</html>
