body {
    background-color: white;
}

h2 {
    color: #073b4c
}

table, th, td{
    align-content: center;
    border: 2px;
    border-collapse: collapse;
    padding: 5px;
}

th {
    background-color: #568ea6;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: white;
}

.margin15{
    margin-left: 15px;
    margin-right: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #073b4c;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
